<div class="jumbotron-lounge">
  <h1>The Lounge</h1>
  <p>Share your workouts with your friends and family</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Members</h2>
        <%= will_paginate @members, renderer: BootstrapPagination::Rails, class: "pull-left paginate" %>
    </div>
</div>

<div class="row">
    <% @members.each do |member| %>
        <div class="col-md-10 well member">
            <%= member.full_name %>
            <% if current_user %>
                <%= link_to "Follow", friendships_path(friend_id: member.id), method: :post, class: "btn btn-primary pull-right" unless current_user.follows_or_same?(member) %>
            <% end %>
        </div>
    <% end %>
</div>
